body {
  background-color: #288d27;
  position: relative;
}

.car {
  width: 100px;
  height: 100px;
  position: absolute;
}

.left {
  transform: rotate(-0.5turn);
  transition-duration: 0.25s;
}

.down {
  transform: rotate(0.25turn);
  transition-duration: 0.25s;
}

.up {
  transform: rotate(-0.25turn);
  transition-duration: 0.25s;
}

.right {
  transition-duration: 0.25s;
}
